<li>
  <%= user.name %> 
  <span class="profile-link">
    <%= link_to 'See profile',  user_path(user), class: 'btn btn-secondary' %>
   <%= link_to('Invite to Friendship', friendships_url(friend_id: params[:id]), method: :post,
      class: 'btn btn-secondary' )%>
  </span>
  <span class="profile-link">
</span>
</li><br/>