<div class="container">
<div class="card text-center">
  <div class="card-header">
    <h3> USER / PROFILE </h3>
  </div>
  <div class="card-body">
    <h4 class="card-title"> 
    <ul class="users-list">
    <%= render @users %>
  </ul>
    </h4>
  </div>
</div>
</div>

<section class="users-section">
 
</section>