<h1>FRIENDS</h1>
<br/>

<div class="card text-center">
  <div class="card-header">
    <h3> USER / FRIENDSHIP </h3>
  </div>
  <div class="card-body">
  <h4 class="card-title"> 
  <%= render @friends %>
  </div>
</div>
